<div class="container">
<p>
<h1>Places</h1>
</p>

<ul>
  <% for place in @places %>
    <p><li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li></p>
  <% end %>
</ul>

<p>
  <button type="button" class="btn btn-success"><a href="/places/new"class="link-light">New place</a></button>
</p>
</div>